%% -*- mode: erlang; coding: utf-8 -*-

{mode, {rate, 10}}.
{concurrent, 50}.

{duration, 1}.

{hibari_node, 'hibari1@127.0.0.1'}.
{hibari_table, basho_bench_test}.
{key_generator, {int_to_bin, {uniform_int, 35000}}}.
{value_generator, {fixed_bin, 10000}}.



{driver, basho_bench_driver_hibari_native}.

{code_paths, ["/home/ossforum/hands-on/lib/hibari_client_utils",
              "/home/ossforum/hibari/hibari/lib/cluster_info",
              "/home/ossforum/hibari/hibari/lib/gmt_util",
              "/home/ossforum/hibari/hibari/lib/gdss_brick",
              "/home/ossforum/hibari/hibari/lib/gdss_client"
             ]}.

