%% -*- mode: erlang; coding: utf-8 -*-

{mode, max}.
{concurrent, 1}.

{duration, 2}.

{hibari_node, 'hibari1@127.0.0.1'}.
{hibari_table, basho_bench_test_sequential}.
{key_generator, {int_to_bin, {sequential_int, 1000000}}}.
{value_generator, {fixed_bin, 100}}.


{driver, basho_bench_driver_hibari_native}.

{code_paths, ["/home/ossforum/hands-on/lib/hibari_client_utils",
              "/home/ossforum/hibari/hibari/lib/cluster_info",
              "/home/ossforum/hibari/hibari/lib/gmt_util",
              "/home/ossforum/hibari/hibari/lib/gdss_brick",
              "/home/ossforum/hibari/hibari/lib/gdss_client"
             ]}.

